body {
    font-family: "Trebuchet MS", "Lucinda Sans Unicode", "Lucida Grande", Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto 0;
    font-size: 35px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}